[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Bootloader for macOS, Windows and Linux in UEFI and in legacy mode
[access "refs/*"]
	owner = group user/Ricolala (Ricolila)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ricolala (Ricolila)
	label-Verified = -1..+1 group user/Ricolala (Ricolila)
	push = group user/Ricolala (Ricolila)
	read = group user/Ricolala (Ricolila)
	rebase = group user/Ricolala (Ricolila)
	removeReviewer = group user/Ricolala (Ricolila)
	submit = group user/Ricolala (Ricolila)
[access "refs/heads/*"]
	create = group user/Ricolala (Ricolila)
	push = +force group user/Ricolala (Ricolila)
	pushMerge = group user/Ricolala (Ricolila)
	read = group user/Ricolala (Ricolila)
[access "refs/tags/*"]
	push = group user/Ricolala (Ricolila)
	push = +force group user/Ricolala (Ricolila)
